
<div class="row">
<div class="col-md-6">
<div class="mb-3">
<%= f.text_field :title, label: 'Title', placeholder: "Title" %>
</div>
<div class="mb-3">
<%= f.text_field :content, label: 'Content', placeholder: "Content" %>
</div>
<div class="mb-3">
<%= f.submit "Create New Doc", class: "btn btn-warning mt-2" %>
</div>
</div>
</div>






